/* Hero */
/* #hero {
  background-image: url("/images/hero1.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Featured products */
#featured-products {
  background-image: url("/images/abt1.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
